@model IEnumerable<Author>
@{
    ViewData["Title"] = "Таблица 'Авторы'";
}
<h1>@ViewData["Title"]</h1>

<p align="center">
    <table border="1">
        <tr>
            <td>Id автора</td>
            <td>Имя автора</td>
        </tr>

         @foreach (var author in Model)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.Fio</td>
            </tr>
        }
    </table>
</p>


