@model IEnumerable<Author>
@{
    ViewData["Title"] = "Table 'Authors'";
}
<h1>@ViewData["Title"]</h1>

<p align="center">
    <table border="1">
        <tr>
            <td>AuthorId</td>
            <td>Name</td>
        </tr>

         @foreach (var author in Model)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.Fio</td>
            </tr>
        }
    </table>
</p>


