@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Таблица 'Заказчики'";
}
<h1>@ViewData["Title"]</h1>

<p align="center">
    <table border="1">
        <tr>
            <td>Id заказчика</td>
            <td>Наименование заказчика</td>
        </tr>

        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.Customername</td>
            </tr>
        }
    </table>
</p>
